<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" min="0" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expire_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expire_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[expire_time]" type="text" value="{:$row.expire_time?datetime($row.expire_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trial_given')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-trial_given" data-rule="required" min="0" class="form-control selectpicker" name="row[trial_given]">
                {foreach name="trialGivenList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.trial_given"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trial_started_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-trial_started_at" class="form-control" name="row[trial_started_at]" type="number" value="{$row.trial_started_at|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Control_enabled')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-control_enabled" data-rule="required" min="0" class="form-control selectpicker" name="row[control_enabled]">
                {foreach name="controlEnabledList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.control_enabled"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_paid_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_paid_at" class="form-control" name="row[last_paid_at]" type="number" value="{$row.last_paid_at|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_paid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_paid" data-rule="required" min="0" class="form-control" step="0.01" name="row[total_paid]" type="number" value="{$row.total_paid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Created_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-created_at" class="form-control" name="row[created_at]" type="number" value="{$row.created_at|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Updated_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-updated_at" class="form-control" name="row[updated_at]" type="number" value="{$row.updated_at|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
